*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
  /* background: #363636; */
}



pre  {
    /* background-color: #f4f4f4; */
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
    width: 100%;
    text-wrap: wrap;
     /* Add vertical scrollbar *//* Enable horizontal scrolling for long lines */
    overflow-wrap: break-word;
    /* overflow-x: auto; */
    /* list-style: none; */
  }
  .main{
      width: 100%;
      /* padding: 10px; */
  }
  /* From Uiverse.io by AlimurtuzaCodes */ 
.btn {
    border: none;
    width: 10em;
    height: 3em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: hsl(130, 76%, 42%);
    cursor: pointer;
    transition: all 450ms ease-in-out;
    transform: translateX(350px);
    margin-top: 20px;
  }
  
  .sparkle {
    fill: #AAAAAA;
    transition: all 800ms ease;
  }
  
  .text {
    font-weight: 600;
    color:black;
    font-size: medium;
  }
  
  .btn:hover {
    background: linear-gradient(0deg,#A47CF3,#683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9917FF;
    /* transform: translateY(-2px); */
  }
  
  .btn:hover .text {
    color: white;
  }
  
  .btn:hover .sparkle {
    fill: white;
    transform: scale(1.2);
  } 
  textarea{
    padding-left: 10px;
    border-radius: 20px;
    /* border: 2px solid #683FEA; */
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    background-color: #363636;
    color: white;
    font-size: large;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    padding: 20px;
  }
